<%= form_for :session, url: sign_in_path do |f| %>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
  <p>Novo cliente? <%= link_to "Cadastre-se agora!", new_cliente_path %></p>
<% end %>