<%= form_with(model: reserva, local: true) do |form| %>
  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :servico_id %>
    <%= form.collection_select(:servico_id, Servico.order(:nome), :id, :nome, :prompt => true) %>

  </div>

  <div class="field">
    <%= form.label :dataHora %>
    <%= form.datetime_select :dataHora, id: :reserva_dataHora %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
