<p id="notice"><%= notice %></p>

<p>
  <strong>Servico:</strong>
  <%= @reserva.servico_id %>
</p>

<p>
  <strong>Datahora:</strong>
  <%= @reserva.dataHora %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
